# This is the network config written by 'subiquity'
network:
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      addresses:
        - {{ static_ipv4_with_mask }}
      routes:
        - to: default
          via: {{ ansible_default_ipv4.gateway }}
  version: 2
