
# DigitalOcean Regions:
# New York City (USA) = nyc1, nyc3
# San Francisco (USA) = sfo3
# Amsterdam (NLD) = ams3
# Frankfurt (DEU) = fra1
# Singapore (SGP) = sgp1
# London (GBR) = lon1
# Toronto (CAN) = tor1
# Balgalore (IND) = blr1

# DigitalOcean Droplet Sizes:
# s-1vcpu-2gb
# s-2vcpu-4gb
# s-4vcpu-8gb
# s-8vcpu-16gb
# so-8vcpu-64gb
# so-16vcpu-128gb
# so-24vcpu-192gb
# so-32vcpu-256gb

# DigitalOcean Images:
# Debian	10 x64	debian-10-x64
# Debian	11 x64	debian-11-x64
# Ubuntu	22.04 (LTS) x64	ubuntu-22-04-x64
# Ubuntu	20.04 (LTS) x64	ubuntu-20-04-x64

# Server Settings
server_url: pg02.testing.org
server_subdomains: [ 'pg02' ]
enable_swap: true
swap_size: "2G"
ssh_key_file_public: ~/.ssh/somekey_ed25519.pub
ssh_key_file_private: ~/.ssh/somekey_ed25519
nameserver_primary: "1.1.1.1"
nameserver_fallback: "1.0.0.1"

# Proxmox Settings
spawn_on_proxmox: true
proxmox_host: "10.1.1.50"
proxmox_node: "proxmox-host"
proxmox_template: "Template Name"
proxmox_template_host_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDgDGy5XTgAUAD5wyyXatjxca8AO+dM/MJrTUolU5du1 root@template"
proxmox_template_machine_id: "f8aa2f1ac1e74b1e9a721ace372b1be8"
proxmox_storage: "Storage Name"
#proxmox_kvm_cores: 32
#proxmox_kvm_memory: 32768

# DigitalOcean Settings
spawn_on_digitalocean: false
do_droplet_region: blr1
new_slug_size: "s-2vcpu-4gb"
do_image: "debian-11-x64"

# Static IP Settings
set_static_ip: true
static_ipv4_with_mask: "10.1.1.22/16"

# Cloudflare Settings
cloudflare_dns: true
cloudflare_email: michael@perthchat.org
cloudflare_zone_name: testing.org

# UFW Settings
ufw_enabled: true
ufw_allow_dict:
  - { rule: 'allow', port: 22, proto: 'tcp', from_ip: 10.24.0.0/16, insert_relative_to: 'first-ipv4' }
  - { rule: 'allow', port: 443, proto: 'any', from_ip: 'any', insert_relative_to: 'last-ipv4' }
  - { rule: 'allow', port: 80, proto: 'tcp', from_ip: 'any', insert_relative_to: 'last-ipv4' }
  - { rule: 'allow', port: 5432, proto: 'any', from_ip: 10.24.0.0/16, insert_relative_to: 'last-ipv4' }

#item.rule:
#  - "allow" [DEFAULT]
#  - "deny"
#  - "limit"
#  - "reject"

# TCP/IP protocol. Choices:
#item.proto:
#  - "any" [DEFAULT]
#  - "tcp"
#  - "udp"
#  - "ipv6"
#  - "esp"
#  - "ah"
#  - "gre"
#  - "igmp"

#item.direction:
#  - "in" [DEFAULT]
#  - "incoming"
#  - "out"
#  - "outgoing"
#  - "routed"

#item.insert_relative_to:
# Allows to interpret the index in insert relative to a position.
# zero interprets the rule number as an absolute index (i.e. 1 is the first rule). [DEFAULT]
# first-ipv4 interprets the rule number relative to the index of the first IPv4 rule, or relative to the position where the first IPv4 rule would be if there is currently none.
# last-ipv4 interprets the rule number relative to the index of the last IPv4 rule, or relative to the position where the last IPv4 rule would be if there is currently none.
# first-ipv6 interprets the rule number relative to the index of the first IPv6 rule, or relative to the position where the first IPv6 rule would be if there is currently none.
# last-ipv6 interprets the rule number relative to the index of the last IPv6 rule, or relative to the position where the last IPv6 rule would be if there is currently none.